@import 'reset.scss';

html {
  background-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  font-size: 1rem;
  background-color: yellowgreen;
  ul {
    list-style: none;
    display: flex;
    margin-left: auto;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin: 1rem;
  }
}

.layout {
  background-color: rgb(155, 0, 0);
}
