@import 'reset.scss';

:root {
  --green: rgb(25, 232, 168);
  --dark-green: rgb(67, 150, 107);
  --purple: rgb(198, 165, 230);
  --blue: rgb(125, 227, 240);
  --red: rgb(226, 101, 91);
  --input: rgb(244, 244, 244);
  --input-border: rgb(211, 211, 211);
  --grey: rgb(183, 183, 183);
  --light-grey: rgb(238, 238, 238);
  --text: rgb(41, 41, 41);
  --box-border: rgb(23, 23, 23);
  --box-border-width: 3px;
  --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  --background: rgb(34, 114, 139);
  --white: #ffffff;
  --br-8: 8px;
  --br-4: 4px;
}

html {
  background-color: var(--white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}

nav {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    a {
      margin-left: 2rem;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    text-shadow: var(--box-shadow);
  }

  h1,
  a {
    font-size: 1.3rem;
  }
}

// Aktiv link beholder ikke understrek.
a {
  &:active {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: underline;
  }
  &::after {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}

section {
  display: grid;
  margin: 0.5rem;
}

form > label {
  display: block;
  margin-top: 1rem;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  input {
    display: block;
    border-radius: var(--br-4);
    padding: 0.5rem;
    border: 1px solid var(--text);
    opacity: 0.8;
    min-width: 80%;
  }
  #admin {
    min-width: auto;
  }
  input,
  #admin {
    margin-top: 0.3rem;
  }
}

.layout > section:nth-child(1) > form:nth-child(2) > label:nth-child(3) {
  display: flex;
}

button {
  padding: 0.7rem 2.1rem;
  border-radius: var(--br-8);
  background-color: var(--dark-green);
  color: var(--white);
  border: none;
  box-shadow: var(--box-shadow);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

footer {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;

  :nth-child(1) {
    margin-right: auto;
  }
}

.courses-header {
  display: flex;
  margin-bottom: 1.5rem;
}

.courses-header > {
  :nth-child(even) {
    margin-left: auto;
  }
}

#filter {
  padding: 0.5rem 4rem 0.5rem 1rem;
  // height: 2rem;
  // width: 8rem;
  cursor: pointer;
  border: 1px solid var(--grey);
  background-color: var(--light-grey);
  border-radius: var(--br-4);
}

.courses-list {
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.course-element {
  border: 1px solid var(--grey);
  border-radius: var(--br-8);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  // box-shadow: var(--box-shadow);
  > span {
    margin-left: auto;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  span,
  > :nth-child(4) {
    text-decoration: underline;
    font-weight: 600;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.grid-3 {
  display: grid;

  grid-template-columns: auto 1fr;
  grid-column-gap: 0px;
  // grid-row-gap: 0px;
  height: 100%;
}

.lessons {
  li {
    border: 1px solid var(--grey);
    border-radius: var(--br-4);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    // padding: 0.7rem 1.3rem;
    margin-top: 1rem;
    margin-right: 2rem;
    > a {
      color: inherit;
      text-decoration: none;
      // background-color: red;
    }
  }
}

.grid-3 > aside:nth-child(1) {
  border-right: 1px solid var(--grey);
}

.grid-3 > aside:nth-child(3) {
  border-right: 1px solid var(--grey);
}

@media screen and (min-width: 600px) {
  section {
    margin: 0 auto;
  }

  .courses-list {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  body {
    max-width: 70rem;
    margin: 0 auto;
  }

  nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .grid-3 {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 3fr 1fr;
    section h2 {
    font-size: 2rem
    }
    p {
      margin-top: 1.5rem;
    }
    // 2rem is the same as the margin that the aside with lessons has.
    > aside:nth-child(3) {
      padding-left: 2rem;
    }
  }

  .grid-3 > aside:nth-child(3) {
    border-right: none;
    border-left: 1px solid var(--grey);
  }

  .courses-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
